$bg: "../images/bg.jpg";

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
body {
    height: 100%;
    background: url($bg) center center / cover no-repeat lightgrey;
}
header, footer{ 
    position: relative;
    background-color: black;
    height: 0; // 50px
    max-width: 1200px;
    margin: 0 auto;
    transition: all 1s ease 0s; // для анимации их появления после процедуры аутентификации
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.wrapper {
    background-color: #888;
    margin: 0 auto;
    max-width: 1200px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
    height: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
    // text-decoration: underline;
    // padding-top: 30px;
}
.form {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__input {
        box-sizing: border-box;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid black;
        padding: 5px 10px;
    }
    &__btn {
        border: 1px solid black;
        padding: 5px 10px;
        width: 100%;
        font-weight: bold;
    }
}
.write {
    margin: auto;
    width: 94%;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    &__roll {
        color: white;
        opacity: 0;
        display: block;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        transition: all 1s ease 0s;
    }
    &__roll:hover {
        opacity: 1;
    }
    &__form {
        display: none;
        flex-direction: column;
        overflow: hidden;
        // transition: all 1s ease 0s;
        // padding: 10px;
    }
    &__title {
        text-align: center;
        box-sizing: border-box;
        border: 1px solid black;
        border-bottom: 3px solid black;
        border-radius: 4px 4px 0 0;
        padding: 5px 7px;
        font-size: 20px;
        font-weight: bold;
        outline: none;
    }
    &__text {
        padding: 5px 7px;
        border: 1px solid black;
        height: 200px;
        resize: none; // запрет изменения размера
        outline: none; // отмена подсветки выделенного инпута
    }
    &__btn {
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 0 0 4px 4px;
        padding: 5px 7px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }
}
.post {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    &__item {
        position: relative;
        background-color: white;
        max-width: 20%;
        padding: 5px;
        border: 1px solid black;
        border-radius: 4px;
        margin: 5px;
        cursor: pointer;
    }
    &__title {
        font-size: 16px;
    }
    &__date, &__desc {
        font-size: 12px;
    }
    &__delete {
        position: absolute;
        opacity: 0;
        bottom: 0;
        right: 50%;
        padding: 8px;
        margin: 5px;
        cursor: pointer;
        transition: all 0.5s ease 0s;
        background: url('/images/icons/delete.svg') center center / contain no-repeat;
    }
    &__item:hover .post__delete{
        opacity: 1;
        right: 0;
    }
}
.exit {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px 7px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 1s ease 0s;
}
.popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 8px;
        background-color: darkgrey;
        max-width: 1125px;
        max-height: 500px;
        flex-grow: 1;
        box-sizing: border-box;
    }
    &__post {
        padding: 10px 20px;
        border: 8px solid black;
        border-radius: 8px;
        background-color: white;
    }
    &__title {
        border-bottom: 2px solid black;
    }
    &__date {
        text-align: right;
        color: darkgrey;
        font-size: 14px;
        margin-top: 10px;
    }
    &__text {
        padding: 20px 0;
        border-bottom: 2px solid black;
    }
    &__comments {}
    &__close {
        position: absolute;
        top: 10px;
        right: 8px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 150%;
        color: white;
        border: 1px solid white;
        border-radius: 8px;
        cursor: pointer;
    }
}

// ====================================================
.clickable:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}