* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: url("../images/bg.jpg") center center/cover no-repeat lightgrey;
}

header, footer {
  position: relative;
  background-color: black;
  height: 0;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.wrapper {
  background-color: #888;
  margin: 0 auto;
  max-width: 1200px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  text-align: center;
}

.form {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid black;
  padding: 5px 10px;
}

.form__btn {
  border: 1px solid black;
  padding: 5px 10px;
  width: 100%;
  font-weight: bold;
}

.write {
  margin: auto;
  width: 94%;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  background-color: black;
  padding: 10px;
  cursor: pointer;
}

.write__roll {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.write__roll:hover {
  color: white;
}

.write__form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.write__title {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  border-bottom: 3px solid black;
  border-radius: 4px 4px 0 0;
  padding: 5px 7px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

.write__text {
  padding: 5px 7px;
  border: 1px solid black;
  height: 200px;
  resize: none;
  outline: none;
}

.write__btn {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0 0 4px 4px;
  padding: 5px 7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
  width: 90%;
}

.post__item {
  position: relative;
  background-color: white;
  max-width: 20%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

.post__title {
  font-size: 16px;
}

.post__date {
  font-size: 12px;
}

.post__desc {
  font-size: 12px;
}

.post__delete {
  position: absolute;
  opacity: 0;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  color: red;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.post__item:hover .post__delete {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.05);
}

.exit {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 5px 7px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.clickable:hover {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */